---
import HomeLayout from "../../layout/HomeLayout.astro";
import ProfileCard from "../../components/ProfileCard.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<HomeLayout>
	<ProfileCard />
	<section>
		<ul>
			{
				posts.map((post) => {
					if (post.data.published) {
						return (
						<li>
							<a href={`/posts/${post.slug}/`}>{post.data.title} ({post.data.pubDate})</a>
						</li>
					)

					}
			})
			}
		</ul>
	</section>
</HomeLayout>
