---
import HomeLayout from "../../layout/HomeLayout.astro";
import ProfileCard from "../../components/ProfileCard.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<HomeLayout>
	<ProfileCard />
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<a href={`/posts/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</section>
</HomeLayout>
