---
import HomeLayout from "../../layout/HomeLayout.astro";
import ProfileCard from "../../components/ProfileCard.astro";
// import About from "../components/About.astro";
// import Now from "../components/Now.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<HomeLayout>
	<ProfileCard />
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<time datetime={post.data.pubDate}>{post.data.pubDate}</time>
						<a href={`/posts/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</section>
</HomeLayout>
