.bioCard {
  text-align: center;
  margin-top: 5rem;
  padding: 20px;
  padding-right: 200px;
  padding-left: 200px;
}

.infoPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

@media screen and (max-width: 770px) {
  .bioCard {
    margin-top: 1rem;
    padding-right: 0;
    padding-left: 0;
  }
  .infoPanel {
    grid-template-columns: 1fr;
  }
}

.profileImg {
  width: 100px;
  border-radius: 50px;
  margin: 0 auto;
}

.name {
  margin: 0;
}

.about {
  margin-top: 20px;
}

.icon {
  width: 30px;
  margin: 0;
}

.skillList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 0;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.link {
  text-transform: underscore;
  color: blue;
}
