---
import HomeLayout from "../layout/HomeLayout.astro";
import ProfileCard from "../components/ProfileCard.astro";
// import About from "../components/About.astro";
// import Now from "../components/Now.astro";
---

<HomeLayout>
	<ProfileCard />
	<section>
		<!-- <About /> -->
		<!-- <Now /> -->
	</section>
</HomeLayout>
