<main class="grid gap-12 grid-cols-2 pl-16 pr-16 max-w-[1200px] m-[0_auto]">
	<section class="border-r-[1px] border-gray-500 border-opacity-40">
		<h4 class="text-lg font-bold">About Me</h4>
		<p>
			I am a full-stack developer based in Stuttgart, Germany. I build performant, high quality
			applications in React and TypeScript. Currently, I work at <a
				class="text-blue-600 underline underline-offset-2"
				href="https://www.remote.com"
				target="_blank">Remote</a
			> helping to enable remote work globally.
		</p>
		<p>
			When I am not programming I enjoy obsessing over <a
				class="text-blue-600 underline underline-offset-2"
				href="https://www.instagram.com/vaidotas.p"
				target="_blank">photography</a
			>, keyboards and coffee.
		</p>
	</section>
	<section>
		<h4 class="text-lg font-bold">Now</h4>
		<p>
			Inspired by Derek Sivers<!-- -->
			<a
				class="text-blue-600 underline underline-offset-2"
				target="_blank"
				href="https://nownownow.com/about"
				rel="noopener noreferrer">nownownow</a
			> page, here is what I am doing right now as of <!-- -->September 5, 2022<!-- -->:
		</p>
		<ul class="list-disc ml-7 mt-1">
			<li>Getting back to minimalism in my tools and removing custom setups to simplify life.</li>
			<li>
				Reading the
				<a
					class="text-blue-600 underline underline-offset-2"
					href="https://en.wikipedia.org/wiki/The_Expanse_(novel_series)"
					target="_blank">Expanse</a
				>
				series books, hooked!
			</li>
			<li>
				Rewriting this site to use
				<a
					class="text-blue-600 underline underline-offset-2"
					href="https://en.wikipedia.org/wiki/The_Expanse_(novel_series)"
					target="_blank">Astro</a
				>, seems cool
			</li>
		</ul>
	</section>
</main>
