<main class="grid gap-12 grid-cols-2">
	<div>
		<section>
			<h4 class="text-lg font-bold">About Me</h4>
			<p>
				I am a full-stack developer based in Stuttgart, Germany. I build performant, high quality
				applications in React and TypeScript. Currently, I work at <a
					class="text-blue-600 underline underline-offset-2"
					href="https://www.remote.com"
					target="_blank">Remote</a
				> helping to enable remote work globally.
			</p>
			<p>
				When I am not programming I enjoy obsessing over <a
					class="text-blue-600 underline underline-offset-2"
					href="https://www.instagram.com/vaidotas.p"
					target="_blank">photography</a
				>, keyboards and coffee.
			</p>
		</section>
		<section>
			<h4 class="text-lg font-bold">Skills</h4>
		</section>
	</div>
	<section>
		<h4 class="text-lg font-bold">Now</h4>
	</section>
</main>
