<section>
	<h4>Now</h4>
	<p>
		Inspired by Derek Sivers<!-- -->
		<a target="_blank" href="https://nownownow.com/about" rel="noopener noreferrer">nownownow</a>
		page, here is what I am doing right now as of
		<!-- -->February, 2023<!-- -->:
	</p>
	<ul class="list-disc ml-7 mt-1">
		<li>Getting back to minimalism in my tools and removing custom setups to simplify life.</li>
		<li>
			Reading the
			<a href="https://en.wikipedia.org/wiki/Life_(Richards_book)" target="_blank"
				>Life by Keith Richards</a
			>. That's quite a life.
		</li>
		<li>
			Rewriting this site to use
			<a href="https://en.wikipedia.org/wiki/The_Expanse_(novel_series)" target="_blank">Astro</a>,
			seems cool, also gives me opportunity to strip down every needless detail from the UI (you may
			have noticed).
		</li>
	</ul>
</section>

<style>
	h4 {
		margin-top: 50px;
		margin-bottom: 0px;
	}
</style>
