<section>
	<h4>Now</h4>
	<p>
		Inspired by Derek Sivers<!-- -->
		<a target="_blank" href="https://nownownow.com/about" rel="noopener noreferrer">nownownow</a>
		page, here is what I am doing right now as of
		<!-- -->February, 2023<!-- -->:
	</p>
	<ul class="list-disc ml-7 mt-1">
		<li>Reading and thinking about simplification of tools/processes/informational intakes.</li>
		<li>
			Waiting for the end of winder in Washington, DC.
		</li>
		<li>
			Exploring photography and visual arts. <a href="https://www.instagram.com/vaidotas.p/" target="_blank">Instragram</a> and <a href="https://glass.photo/vaidotas" target="_blank">Glass</a>.
		</li>
	</ul>
</section>

<style>
	h4 {
		margin-top: 50px;
		margin-bottom: 0px;
	}
</style>
