<div class="flex-col align-middle justify-center mb-16 mt-32">
	<img class="rounded-full w-[100px] h-[100px] m-[0_auto]" src="profile.jpg" alt="profile-pic" />
	<h1 class="text-center text-3xl font-bold mt-3">Vaidotas Piekus</h1>
</div>
