<style>
 a > img{
	 display: block;
	 width: 20px;
	 text-decoration: none;
 }

 h4 {
	 padding: 0;
	 margin: 0;
 }

 .profile {
	 margin-right: 100px;
	 border-radius: 2px;
	 display:flex;
	 gap: 5px;
	 flex-direction:column;
 }
 .links {
	 display: flex;
	 justify-content: center;
	 gap:5px;
 }

 .profile-pic {
	 width: 170px;
	 border-radius:2px;
 }
</style>

<div class="profile">
	<h4 class="">Vaidotas Piekus</h4>
	<img class="profile-pic" src="profile.jpg" alt="profile-pic"/>
	<div class="links">
		<a target="_blank" href="https://github.com/vaidotasp" rel="noopener noreferrer">
			<img  src="github.svg" alt="github"  />
		</a>
		<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/vaidotaspi">
			<img  src="twitter.svg" alt="twitter" />
		</a>
		<a target="_blank" rel="noopener noreferrer" href="mailto:vaidotasp@gmail.com">
			<img  src="mail.svg" alt="email" />
		</a>
		<a
			target="_blank"
			rel="noopener noreferrer"
			href="https://www.linkedin.com/in/vaidotasp"
			>
			<img  src="ln.svg" alt="linkedin" />
		</a>
	</div>
</div>

