<html>
	<head>
		<meta charset="utf-8" />
		<title>Vaidotas Personal Site</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/posts">Posts</a>
		</nav>
		<main >
			<slot />
		</main>
	</body>
</html>

<style is:global>
	html {
		max-width: 1200px;
	}

	h3,h4 {
		padding-top: 0;
		margin-top: 0;
	}
	body {
		margin: 0;
		padding: 0.5rem 2rem 0.5rem 3rem;
		color: hsla(0, 0%, 0%, 0.8);
		min-height: 100%;
		font-size: 1.3rem;
	}
</style>

<style>
	main {
		display: grid;
		grid-template-columns: auto 1fr;
	}

	nav {
		margin-bottom: 30px;
		padding-bottom: 10px;
		border-bottom: 2px solid gray;
	}

	nav > a {
		margin-right: 20px;
		font-size: 1.6rem;
		font-weight:bold;
	}

</style>
