.now {
  margin-top: 20px;
  border-left: 1px solid #231a1a1a;
  padding-left: 50px;
}

.link {
  color: blue;
}

.link:hover {
  text-decoration: underline;
}

.listItem {
  font-size: 0.9rem;
  text-decoration: italic;
  list-style-type: square;
}

@media screen and (max-width: 770px) {
  .now {
    border-left: 0;
    padding-left: 0;
  }
}
